/* Image */
img {
    border-radius: 0.5rem;
    width: 100%;
}

img.medium {
    max-width: 29rem;
    width: 100%;
}

/* Card */
.card {
    border: 0.1rem solid;
    background-color: white;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}

.card-body > * {
    margin-bottom: 0.5rem;
}